## HTML-saving by move-list-downloader/analyzer
last_http_response_body.html.txt
## generated in order to start program with interaction
expect_config
## compiled program
C488
## simple access logs
usage_logs.txt

## RubyMine stuff
.idea

